.u-ll {
  max-width: var(--line-length) !important;
}

.u-mt {
  margin-top: 1rlh !important;
}

.u-mt-large {
  margin-top: 2rlh !important;
}

.u-mt-huge {
  margin-top: 4rlh !important;
}

.u-mt-small {
  margin-top: 0.5rlh !important;
}

.u-mt-tiny {
  margin-top: 0.25rlh !important;
}

.u-align-center {
  text-align: center !important;
}

.u-display-flex {
  display: flex;
  gap: 0.5rlh;
}

.u-font-bold {
  font-weight: bold !important;
}


/* Font or text properties. */

.u-color-green {
  color: var(--green-color);
}

.u-color-red {
  color: var(--red-color);
}
