<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}
        {% endblock %}
        – Media Annotator
      </title>
      <link rel="icon" href="/favicon.png" />

      {{ vite_hmr() }} {{ vite('resources/main.ts') }}
    {% endblock %}
  </head>

  <body class="a-site a-site--small">
    {% include "admin/sidebar.html.jinja" %}
    {% include "admin/header.html.jinja" %}

    <main class="a-site__content">
      {% block content %}
      {% endblock %}
    </main>

    {% block javascript %}
    {% endblock %}
  </body>
</html>
