{% extends "admin/base.html.jinja" %}
{% block title %}{{ resource.name }}{% endblock %}

{% block content %}
  <div class="a-container">
    <h1>{{ resource.name }}</h1>

    <p class="u-mt-small">
      <a href="{{ url_for('resource-detail', resource_id=resource.id) }}"
        >View in app</a
      >
    </p>

    <dl class="u-mt">
      <dt>Name</dt>
      <dd>{{ resource.name }}</dd>
      <dt>Description</dt>
      <dd class="u-ll">{{ resource.description }}</dd>
      <dt><abbr title="Universally Unique Identifier">UUID</abbr></dt>
      <dd>{{ resource.uuid }}</dd>
      <dt>Media type</dt>
      <dd>
        {{ resource.media_file.type.name }} / {{ resource.media_file.sub_type }}
      </dd>
      <dt>Duration</dt>
      <dd>{{ resource.media_file.duration|duration_format }}</dd>
      <dt>Size</dt>
      <dd>{{ resource.media_file.size|filesizeformat }}</dd>
      <dt>License</dt>
      <dd>{{ resource.license.name }}</dd>
      <dt>Collection</dt>
      <dd>
        <a
          href="{{ url_for('admin-collection-detail', collection_id=resource.collection.id) }}"
          >{{ resource.collection.name }}</a
        >
      </dd>
      <dt>Categories</dt>
      <dd>
        <ul>
          {% for cat in categories %}
            <li>
              <a
                href="{{ url_for('admin-category-detail', category_id=cat.id) }}"
                >{{ cat.name }}</a
              >
            </li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </div>
{% endblock %}
