{% extends "admin/base.html.jinja" %}
{% block title %}
  Resources
{% endblock %}

{% block content %}
  <div class="a-container">
    <h1 class="h2">{{ count }} resources</h1>
    <nav>
      <a href="{{ url_for('admin-new-resource') }}">Add resource</a>
    </nav>

    <table class="a-table u-mt">
      <thead>
        <tr>
          <th></th>
          <th><a href="?sort=name">Name</a></th>
          <th><a href="?sort=type">Type</a></th>
          <th><a href="?sort=duration">Duration</a></th>
          <th><a href="?sort=date">Upload date</a></th>
          <th><a href="?sort=is_published">Published?</a></th>
        </tr>
      </thead>

      <tbody>
        {% for resource in resources %}
          <tr>
            <td>
              <img
                class="media__image"
                src="{{ resource.get_thumb_url('sm') }}"
                loading="lazy"
                alt=""
                width="25.5"
                height="25.5"
              />
            </td>
            <td>
              <a
                href="{{ url_for('admin-resource-detail', resource_id=resource.id) }}"
                >{{ resource.name }}</a
              >
            </td>
            <td>{% if resource.is_video() %}Video{% else %}Audio{% endif %}</td>
            <td>{{ resource.duration|duration_format }}</td>
            <td>{{ resource.created_at.strftime("%d/%m/%Y %H:%M") }}</td>
            <td>
              {% if resource.is_published %}
                <span class="u-color-green" aria-label="true">&check;</span>
              {% else %}
                <span class="u-color-red" aria-label="false">&cross;</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
